<nav class="navbar">
    <div class="navbar-brand">
        <a href="{{ "/" | relative_url }}" class="navbar-item brand is-size-4 has-text-grey-dark has-text-weight-bold">
            GH
        </a>
    </div>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a href="{{relative_url}}/writings" class=" navbar-item">writings</a>
            <a href="{{relative_url}}/work" class=" navbar-item">work</a>
            <a href="https://github.com/gabehab" class=" navbar-item">code</a>
    </div>
</nav>
