<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {%- include head.html -%}

    <body>

        {%- include header.html -%}

        <main class="container" aria-label="Content">
            <div class="columns">
                <div class="column col-2 hide-sm"></div>
                <div class="column">
                    {{ content }}
                </div>
                <div class="column col-4 hide-sm"></div>
            </div>
        </main>

        {%- include footer.html -%}

    </body>

</html>
