---
layout: default
---

<br>
<div class="columns">
  <div class="col-2 hide-sm"></div>
  <div class="col-10 is-full-mobile">
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {{ page.date | date: date_format }}
    </time>
  </div>
  <div class="col-2 hide-sm"></div>
  <div class="col-10 is-full-mobile"> 
      {% include hero.html title=page.title subtitle=page.subtitle %}
  </div>
</div>

<br>

<article class="section" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="columns">
        <div class="col-2 hide-sm"></div>
        <div class="col-6 is-full-mobile"> 
            {{ content }}
        </div>
</div>
<a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

</article>
