---
layout: default
---

<br />
<div class="columns">
  <div class="column hide-md"></div>
  <div class="column is-10">
    {% include hero.html title=page.title subtitle=page.subtitle %}
  </div>
</div>

<br />

<article class="section" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="columns">
    <div class="column hide-md"></div>
    <div class="column is-8">{{ content }}</div>
    <div class="column hide-md"></div>
  </div>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
