---
layout: default
---

<br />
<div class="columns">
  <div class="column hide-md"></div>
  <div class="column is-10">
    {% include hero.html title=page.title subtitle=page.subtitle %}
  </div>
</div>

<br />

<article class="section" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="columns">
    <div class="column is-2 is-offset-2 hide-md">
      <div class="contents">
        <h2>Table of contents</h2>
        <div class="links"></div>
      </div>
    </div>
    <div class="column is-6 content">{{ content }}</div>
    <div class="column hide-md"></div>
  </div>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
<script>
  let a = document.querySelectorAll("h2,h3");
  let b = document.querySelector(".links");
  for (i = a.length - 1; i >= 0; i--) {
    c = document.createElement("a");
    let z = document.createElement("br");
    c.href = "#" + a[i].id;
    x = document.createTextNode(a[i].textContent);
    c.prepend(x);
    c.prepend(z);
    b.prepend(c);
  }
</script>
